.round {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 28%;
    top: 17%;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
}